@import "~antd/dist/antd.less";

@font-family: 'Lato', sans-serif;
@layout-header-background: #2E4057;
@layout-body-background: #fff;
@layout-footer-background: #f0f2f5;

@link-color: #048BA8;
@link-color-hover: #2E4057;


@layout-sider-background: #fff;