@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import './_variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;

  --color-primary: #2E4057;
  --color-secondary: #048BA8;
  --color-accent: #F18F01;
}

body {
    font-size: 1.5rem;
    min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.max-container {
    max-width: $max-container-width;
    margin: auto;
}

/*
color pallet
#F18F01
#048BA8
#2E4057
#99C24D
#2F2D2E
*/