@import './_variables';
@import './_mixins';

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.mapContainer {
    position: relative;
    text-align: center;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;

    .mobileNote {
        position: absolute;
        top: 2rem;
        left: 50%;
        transform: translateX(-50%);
        width: 70vw;
        opacity: .95;

        .close {
            position: absolute;
            top: -1rem;
            right: 0;
            font-size: 1.5rem;
            padding: 1.5rem;
        }
    }

    .indicators {
        position: fixed;
        bottom: var(--indicator-pad-bottom);
        right: 3rem;
        display: flex;

        svg {
            fill: #aaa;
            margin-left: 1em;
        }
    }

    .dragIndicator,
    .zoomIndicator {
        fill: #aaa;
        position: fixed;
        bottom: var(--indicator-pad-bottom);
    }

    .zoomIndicator {
        right: 3rem;
    }

    .dragIndicator {
        right: 6rem;
    }

}

.intro {
    margin: 3rem 2rem 5rem;
    max-height: 100rem;

    h3 {
        font-size: 2.4rem;
        line-height: 2.8rem;
        font-weight: 600;
    }

    p {
        font-size: 1.6rem;
    }

    transition: all .2s ease-out .2s;
    &.hidden {
        opacity: 0;
        visibility: hidden;
        max-height: 0;
        overflow: hidden;

        transition: all .1s;
    }
}

.tooltip {
    max-width: 30rem;
    opacity: 0.975 !important;

    position: relative;
    color: #000;
    word-wrap: break-word;
    font-family: 'Lato', sans-serif;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .3;
        z-index: -1;
        border-radius: 8px;
    }

    .time,
    .countryName,
    .title,
    .sourceDomain {
        display: block;
    }

    .time {
        font-size: 1.1rem;
        text-align: right;
    }

    .countryName {
        text-align: center;
        font-size: 1.2rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: .5rem 0;
    }

    .title {
        text-align: center;
        font-size: 1.9rem;
        line-height: 1.5em;
        letter-spacing: .25px;
        font-weight: 900;
        text-transform: capitalize;
    }

    .sourceDomain {
        text-align: right;
        font-size: 1.1rem;
    }
}

.desktop {
    @include respond(tab-port) {
        display: none;
    }
}

.mobile {
    display: none;
    @include respond(tab-port) {
        display: initial;
    }
}