.mapContainer {
    text-align: center;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
}

.leftAside {
    padding: 4rem 2rem;
    box-shadow: 3px 0 5px 3px rgba(0, 0, 0, .05), inset -1px 0 3px 0 rgba(#000, .03);

    .intro {
        margin: 5rem 0;

        h3 {
            font-size: 2.4rem;
            line-height: 2.8rem;
            font-weight: 600;
        }

        p {
            font-size: 1.6rem;
        }
    }
}

.tooltip {
    max-width: 25rem;
    opacity: 0.975 !important;
}