@import './_mixins';
@import './_variables';

.header {
    box-shadow: 0 5px 3px 0 rgba(0, 0, 0, .25);
    padding: 0 2rem;
    z-index: 100000;

    h1 {
        font-size: 3.2rem;
        @include respond(phone) { font-size: 2rem; }
        color: #fff;

        & a:hover {
            color: #fff;
        }
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        a {
            color: #fff;
            margin-left: 2.4rem;
        }

        @include respond(tab-port) {
            display: none;
        }
    }
}

.footer {
    @include respond(tab-port) { 
        padding: 2rem 0;
    }
    
    h4 {
        margin-bottom: 0;
        display: inline-block;
        user-select: none;
        pointer-events: none;
        text-align: right;
        font-size: 3rem;
        @include respond(phone) { font-size: 2rem; }
        color: $color-primary;
    }
}

.maxContainer {
    max-width: $max-container-width;
    margin: auto;
    padding: 0 3rem;
    @include respond(phone) { padding: 0 2rem; }
}

.contentPadding {
    padding-top: 5rem;
    padding-bottom: 5rem;
    @include respond(phone) {
        padding-top: 4rem;
        padding-bottom: 4rem; 
    }
}