@import './_mixins';
@import './_variables';

.header {
    box-shadow: 0 5px 3px 0 rgba(0, 0, 0, .25);
    padding: 0 2rem;
    z-index: 100000;

    h1 {
        font-size: 3.2rem;
        @include respond(phone) { font-size: 2rem; }
        color: #fff;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        a {
            color: #fff;
            margin-left: 2.4rem;
        }

        @include respond(tab-port) {
            display: none;
        }
    }
}

.maxContainer {
    max-width: $max-container-width;
    margin: auto;
}