.world {
    margin: 2rem 0;

    .country {
        outline: none;
        fill: var(--minimap-country-fill);
        transition: fill var(--transition-theme-time);

        &.highlight {
            fill: var(--minimap-country-highlight-fill);
        }
    }

    text {
        font-size: 5rem;
        font-weight: 800;
        letter-spacing: 1px;
        &::selection {
            background: var(--minimap-text-selection-color);
            transition: background var(--transition-theme-time);
        }
    }
}