@import './_variables';

.world {
    margin-bottom: 2rem;

    .country {
        outline: none;
        fill: darken($color-primary, 7.5%);

        &.highlight {
            fill: $color-secondary;
        }
    }

    text {
        font-size: 5rem;
        font-weight: 800;
        letter-spacing: 1px;
        &::selection {
            background: $color-primary;
        }
    }
}