@import './_mixins';
@import './_variables';

.sider {
    padding: 4rem 0;
    box-shadow: 3px 0 5px 3px rgba(0, 0, 0, .05), inset -1px 0 3px 0 rgba(#000, .03);

    .wrapper {
        max-height: calc(100vh - 64px - 8rem);
        overflow-y: auto;
    }

    nav {
        display: none;
        @include respond(tab-port) { display: block; }

        margin: 1rem 3rem 4rem;

        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            position: relative;
            font-size: 2.5rem;
            line-height: 1em;
            color: $color-primary;
            font-weight: 600;
            letter-spacing: 2px;

            &::before,
            &::after {
                content: '';
                display: block;
                height: 2px;
                width: 4rem;
                background-color: $color-primary;
            }

            &::before {
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
                margin-right: 1rem;
            }

            &::after {
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
                margin-left: 1rem;
            }

            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }
    }

    .langCard {
        margin: 0 2rem;
        max-height: 100rem;

        transition: all .2s ease-out .2s;
        &.hidden {
            opacity: 0;
            visibility: hidden;
            overflow: hidden;
            max-height: 0;

            transition: all .1s;
        }
    }
}
