@import './_mixins';

.sider {
    z-index: 10;
    background-color: var(--sider-bg-color);
    padding: 4rem 0;
    padding-top: 5rem;
    box-shadow: var(--sider-box-shadow);
    transition: all .2s, background-color var(--transition-theme-time), box-shadow var(--transition-theme-time);

    .wrapper {
        max-height: calc(100vh - 64px - 8rem);
        overflow-y: auto;
    }

    div,
    span {
        color: var(--color-text);
        transition: color var(--transition-theme-time);
    }

    .langCard {
        background-color: var(--color-bg-ligher);
        border: var(--lang-picker-border);
        margin: 0 2rem;
        max-height: 100rem;

        transition: all .3s ease-out .2s, background-color var(--transition-theme-time), border var(--transition-theme-time);
        &.hidden {
            opacity: 0;
            visibility: hidden;
            overflow: hidden;
            max-height: 0;

            transition: all .1s;
        }
    }

    .darkModeToggle {
        position: absolute !important;
        top: 2rem;
        right: 2.5rem;
    }
}
