@import './__mixins';

.world {
    height: calc(99vh - 64px);
    width: 100%;
    max-width: 100%;
    margin: auto;
}

.country {
    outline: none;
    stroke: var(--worldmap-country-stroke-color);
    stroke-width: .03px;
    @include respond(tab-port) { 
        stroke: var(--worldmap-country-stroke-color-mobile);
    }
    fill: var(--worldmap-country-fill);

    transition: all .2s;
    &:hover {
        fill: var(--worldmap-country-fill-hover);
    }

    &:active {
        filter: brightness(90%);
    }

    &.available {
        cursor: pointer;
        fill: var(--worldmap-country-highlight-fill);

        &:hover {
            fill: var(--worldmap-country-highlight-fill-hover);
        }
    }
}