@import './__variables';
@import './__mixins';

.world {
    height: calc(99vh - 64px);
    width: 100%;
    max-width: 100%;
    margin: auto;
}

.country {
    outline: none;
    stroke: rgba(#fff, .1);
    stroke-width: .01px;
    @include respond(tab-port) { 
        stroke-width: .02px; 
        stroke: rgba(#fff, .6);
    }
    fill: darken($color-primary, 7.5%);

    transition: fill .15s ease-out,
        filter .2s ease-out; 
    &:hover {
        fill: darken($color-primary, 2.5%);
    }

    &:active {
        filter: brightness(90%);
    }

    &.available {
        cursor: pointer;
        fill: var(--color-primary);

        &:hover {
            fill: var(--color-secondary);
        }
    }
}