@import './__variables';

.world {
    max-height: 100%;
}

.country {
    outline: none;
    fill: darken($color-primary, 7.5%);

    transition: fill .15s ease-out,
        filter .2s ease-out; 
    &:hover {
        fill: darken($color-primary, 2.5%);
    }

    &:active {
        filter: brightness(90%);
    }

    &.available {
        cursor: pointer;
        fill: var(--color-primary);

        &:hover {
            fill: var(--color-secondary);
        }
    }
}